

/* @import must be at top of file, otherwise CSS will not work */
@import url("https://cdn.fonts.net/t/1.css?apiType=css&projectid=b3cde9c7-6f97-4f5c-b62b-2f6930d1a6a6");
  
@font-face {
  font-family: "PreloSlabSemiBold";
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('PreloSlab/PreloSlabSemiBold_normal_normal.woff2') format('woff2'), url('PreloSlab/PreloSlabSemiBold_normal_normal.woff') format('woff');
}
@font-face {
  font-family: "PreloSlabExtraBold";
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('PreloSlab/PreloSlabExtraBold_normal_normal.woff2') format('woff2'), url('PreloSlab/PreloSlabExtraBold_normal_normal.woff') format('woff');
}
